.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Content{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge{
    position: absolute;
    right: 0;
}
@media (min-width: 1200px) {
    .newscard{
        height: 35rem;
    }
}
@media (max-width: 900px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 49.333333%;
        height: 38rem;
    }
}
@media (max-width: 575.98px) { 
    .col-md-4 {
        flex: 0 0 auto;
        width: 75%;
    }
 }

 @media (max-width: 1199.98px) { 
     .newscard{
        height:50rem;
     }
 }

 
